<div class="container main-container">

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#00b9ff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>  

    <h1>Configurações</h1>

    <form novalidate (ngSubmit)="updateAccount()" [formGroup]="editForm">

        <h4>Ajuste sua conta</h4>
        <hr>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (obrigatório)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                <span class="text-danger" *ngIf="displayMessage.email">
                                <p [innerHTML]="displayMessage.email"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Nome</label>
            <div class="col-md-10">
                <input class="form-control" id="name" type="text" placeholder="Nome (obrigatório)" formControlName="name" [ngClass]="{'is-invalid': displayMessage.name }" />
                <span class="text-danger" *ngIf="displayMessage.name">
                                <p [innerHTML]="displayMessage.name"></p>
                            </span>
            </div>
        </div>   
        
        <div class="form-group">
            <label class="col-md-3 control-label">Data de Nascimento</label>
            <div class="col-md-10">
                <input type="date"  class="form-control" id="birthDate" formControlName="birthDate"/>
                <span class="text-danger" *ngIf="displayMessage.birthDate">
                                <p [innerHTML]="displayMessage.birthDate"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-info" id="Registrar" [disabled]="!editForm.valid" type="submit">Editar</button></span>&nbsp;
                <span><a class="btn btn-warning" id="editPass"  (click)="openModal(content)">Editar senha</a></span>&nbsp;
                <span><a class="btn btn-success" id="editPass"  [routerLink]="['/home']" >Voltar</a></span>
            </div>
        </div>
    </form>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Editar senha</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <p>Para editar sua senha clique no botão abaixo para receber um e-mail com as instruções</p>
        <button type="button" class="btn btn-info" (click)="sendMailPassword()">RECEBER E-MAIL</button>
    </ng-template>
</div>