<div class="flex-grow-1 d-flex flex-column">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-12">
                <div class="col-xl-6 col-lg-10 mx-auto" id="content">
                    <div class="row">
                        <div class="col-md pt-5">
                            <p class="d-flex justify-content-center">Este é um teste de enunciado, digamos que
                                algoritmos sejam uma sequência de
                                __________ </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col-12 py-4 ">
                        <button class="btn btn-primary mr-3 mb-1">Instruções</button>
                        <button class="btn btn-primary mr-3 mb-1">Teste</button>
                        <button class="btn btn-primary mr-3 mb-1">Códigos</button>
                        <button class="btn btn-primary mr-3 mb-1">Teste</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>