<div class="container main-container">

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#00b9ff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>  

    <h1>Login</h1>

    <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">

        <h4>Entre na sua conta</h4>
        <hr>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (obrigatório)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                <span class="text-danger" *ngIf="displayMessage.email">
                                <p [innerHTML]="displayMessage.email"></p>
                            </span>
            </div>
        </div>     

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="password" type="password" placeholder="Senha (obrigatório)" formControlName="password" [ngClass]="{'is-invalid': displayMessage.password }" />
                <span class="text-danger" *ngIf="displayMessage.password">
                                <p [innerHTML]="displayMessage.password"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span><button class="btn btn-success" id="Login" [disabled]="!loginForm.valid" type="submit">Login</button></span>&nbsp;
                <span><button class="btn btn-info" id="ForgotPassword" type="button" (click)="openModal(content)">Esqueci minha senha</button></span>
            </div>
        </div>
    </form>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Trocar senha</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <form (ngSubmit)="sendPasswordReset()" [formGroup]="resetPasswordForm">
            <p>Insira seu e-mail para receber instruções de troca de senha</p>
            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="E-mail (obrigatório)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }" />
                    <span class="text-danger" *ngIf="displayMessage.email">
                                    <p [innerHTML]="displayMessage.email"></p>
                                </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="resetPassword" [disabled]="!resetPasswordForm.valid" type="submit">Receber e-mail</button></span>&nbsp;
                </div>
            </div>             
        </form>
    </ng-template>       
    
</div>