<div class="container main-container">
    
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#00b9ff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>  

    <h1>Lista de usuários</h1>

    <form>
        <div class="mb-3 row justify-content-start">
            <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
            </div>
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label"><span class="fa fa-search"></span></label>
        </div>
      </form>    

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr> 
                <th>Nome</th>
                <th>E-mail</th>
                <th>Data de Nascimento</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let user of users$ | async;">
            <td>
                <ngb-highlight [result]="user.name" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight>
            </td>          
            <td>
                <ngb-highlight [result]="user.birthDate | date: 'dd/MM/yyyy' " [term]="filter.value"></ngb-highlight>
            </td>              
            <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/account/update',user.id]">
                    <span class="fa fa-pencil"></span>
                </a>
            </td>
        </tr>
    </table>
</div>