<div class="container main-container">

    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#00b9ff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>  

    <h1>Configurações</h1>

    <form novalidate (ngSubmit)="editAccount()" [formGroup]="updateForm">

        <h4>Ajustes de usuário</h4>
        <hr>

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (obrigatório)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }"/>
                <span class="text-danger" *ngIf="displayMessage.email">
                                <p [innerHTML]="displayMessage.email"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Nome</label>
            <div class="col-md-10">
                <input class="form-control" id="name" type="text" placeholder="Nome (obrigatório)" formControlName="name" [ngClass]="{'is-invalid': displayMessage.name }" readonly/>
                <span class="text-danger" *ngIf="displayMessage.name">
                                <p [innerHTML]="displayMessage.name"></p>
                            </span>
            </div>
        </div>   
        
        <div class="form-group">
            <label class="col-md-3 control-label">Data de Nascimento</label>
            <div class="col-md-10">
                <input type="date"  class="form-control" id="birthDate" formControlName="birthDate" readonly/>
                <span class="text-danger" *ngIf="displayMessage.birthDate">
                                <p [innerHTML]="displayMessage.birthDate"></p>
                            </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <span><button class="btn btn-info" id="Registrar" type="submit" [disabled]="!updateForm.valid" >Atualizar usuário</button></span>&nbsp;
                <span><button class="btn btn-danger" id="Registrar" type="button" [disabled]="!updateForm.valid" (click)="openModal(content)">Bloquear Usuário</button></span>&nbsp;
                <span><a class="btn btn-warning" id="editPass"  (click)="sendMailPassword()">Enviar e-mail com senha</a></span>&nbsp;
                <span><a class="btn btn-success"  [routerLink]="['/account/list']" >Voltar</a></span>
            </div>
        </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Bloquear Usuário</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <p>Tem certeza ? esta ação não pode ser desfeita</p>
        <button class="btn btn-danger" type="button" (click)="blockAccount()">Bloquear Usuário</button>
    </ng-template>
    </form>    
</div>