<div class="container main-container">
    
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#00b9ff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>  

    <h1>Lista de Exercícios</h1>

    <p>
        <a class="btn btn-info" [routerLink]="['/exercise/create']">Novo exercício</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr> 
                <th>Id do Módulo</th>
                <th>Enunciado</th>
                <th>Alternativas</th>
                <th>Alternativa Correta</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let exercise of exercises">
            <td>
                {{ exercise.moduleId }}
            </td>
            <td>
                {{ exercise.question }}
            </td>          
            <td>
                {{exercise.alternatives.join(", ") }}
            </td>
            <td>
                {{ exercise.correctAlternative }}
            </td>              
            <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/exercise/update',exercise.id]">
                    <span class="fa fa-pencil"></span>
                </a>&nbsp;
                <a class="btn btn-danger" [routerLink]="['/exercise/delete',exercise.id]">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
    </table>
</div>